<!DOCTYPE html>
<html lang="en">
<head>
        {{>headerlinks}}
</head>
<body>
   {{>navbar}}
   <!-- <---Main Header-->
    <div class ="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                      <figure>
                        <img src="images/akku.png" alt="Akanksha" class="img-fluid" title="Akanksha">
                      </figure>
                          </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather</p>
                        <h1>I am Akanksha  <span class="text-clr"> Backend web Developer</span> Student</h1>
                        <a href="https://www.linkedin.com/in/akanksha-agrahari-1622a51a5/"><button>About Me</button></a>

                    </div>
                    <!-- right side div -->
                   
                            
                          </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
{{>footer}}
</body>
</html>